@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

.App {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #6a5be2;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.game {
  width: 500px;
  border-radius: 30px;
  padding: 40px;
  background-color: #fff;
}

ul {
  margin-top: 20px;
}

li {
  list-style: none;
  padding: 15px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

li:hover {
  border: 2px solid rgba(0, 0, 0, 0.3);
}

.result {
  width: 500px;
  border-radius: 30px;
  padding: 40px;
  background-color: #fff;
  text-align: center;
}

.result h2 {
  margin: 0;
}

.result img {
  width: 150px;
}

.result button {
  font-weight: bold;
  font-family: 'Nunito', sans-serif;
  border-radius: 30px;
  border: 0;
  padding: 15px 30px;
  font-size: 20px;
  /* background-color: darken(#ff006e, 3%); */
  background-color: #6a5be2;
  color: #fff;
  margin-top: 20px;
  cursor: pointer;
  margin: 0 auto;
}